.image {
    transition: transform 0.2s ease-in-out;
}

.image:hover {
    transform: scale(1.5);
    z-index: 1;
}

#image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 10px
}