/****************  LOCAL FONT FACES  ****************/
@font-face {
    font-family: "Omnes Pro Bold";
    src: url("../fonts/Omnes_Pro_Bold.otf") format("opentype");
}

/****************  STYLE TAGS  ****************/
h1 {
    font-family: "Omnes Pro Bold";
}

p {
    font-family: "Courier Prime";
}

a[href] {
    text-decoration: none;
    color: blue;
}

a[href]:hover {
    font-weight: 700;
}

/****************  Classes  ****************/
.half-split {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.half-split-el {
    width: 50%;
    justify-items: center;
}

#footer-gifs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }