* {
    box-sizing: border-box;
  }

#sticker {
    display: flex;
    width: 25%;
    float: left;
}


/* Bundling together to allow for JS triggering of animations */
.rotation {
    animation: rotation 1s linear;
}
@keyframes rotation  {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#main-info {
    width: 65%;
    background-color:white;
    padding: 1rem;
    margin: 1rem;
    border-radius:1rem;
    float: left;
}

#portals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.portal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 1rem;
    background-color: aqua;
    height:40vw;
    margin:1rem;
    transition: transform 0.2s ease-in-out;
}

.portal-icon {
    aspect-ratio: 1 / 1;
    align-self: start;
    width:80%;
    border-radius: 50%;
    background-color: white;
    margin:3rem;
    align-content: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.portal:hover {
    transform: scale(1.02);
}

.portal-icon:hover {
    transform: scale(1.05);
}

.portal-head {
    font-size: 4vw;
    margin: 1rem
}

#code-icon-container {
    text-align: center;
    font-size: 10vw;
    font-family: "Courier Prime Bold";
    font-weight:900
}

/* Used when the screen width is less than the given value (e.g. mobile devices) */
@media screen and (max-width: 800px) {
    #main-info {
        width: 100%
    }
    #sticker {
        width: 50%;
        align-self: center;
    }
}
