.socials {  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

}

/* Need to define individually how many socials, I'm sure this can
be automated but I'm not sure how, it may require JS and I can't be
bothered currently, maybe something to look at in the future...  */
.info1 .streamer .socials {
    grid-template-columns: repeat(6, 1fr);
}

.info2 .streamer .socials, .info4 .streamer .socials{
  grid-template-columns: repeat(4, 1fr);
}

.info3 .streamer .socials {
  grid-template-columns: repeat(3, 1fr);
}

.info5 .streamer .socials, .info6 .streamer .socials,  .info7 .streamer .socials{
  grid-template-columns: repeat(2, 1fr);
}

.socials a img {
  width: 3vw;
}

.streamer {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "username"
    "name-pronouns"
    "socials";
}

.username { 
  grid-area: username; 
  font-family: "Omnes Black";
  font-size: 3.5vw;
  font-weight: bolder;
  height: 1em;
}

.name-pronouns { 
  grid-area: name-pronouns; 
  font-family: "Omnes Medium";
  font-size: 2vw
}

.socials { grid-area: socials; }


.streamers {  
  width: 90%;
  margin: auto auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "img1 info1 info2 img2"
    "img3 info3 info4 img4"
    "img5 info5 info6 img6"
    "img7 info7 info8 img8";
}

.info1, .info2, .info3, .info4, .info5, .info6, .info7, .info8 {
  margin: 3vw;
}

.img1 img, .img2 img, .img3 img, .img4 img, .img5 img, .img6 img, .img7 img, .img8 img {
  width: 100%;
}

.img1 { grid-area: img1; }

.info1 { grid-area: info1; }

.info2 { grid-area: info2; }

.img2 { grid-area: img2; }

.img3 { grid-area: img3; }

.img4 { grid-area: img4; }

.img6 { grid-area: img6; }

.img5 { grid-area: img5; }

.img8 { grid-area: img8; }

.img7 { grid-area: img7; }

.info3 { grid-area: info3; }

.info5 { grid-area: info5; }

.info7 { grid-area: info7; }

.info4 { grid-area: info4; }

.info6 { grid-area: info6; }

.info8 { grid-area: info8; }


#title-container {
  margin-bottom: 3vh;
}

#title-box {
  padding-top: 3vh;
  background-color: black;
  width: 100%;
}

.curve {
  height: 5vh;
  border-bottom-left-radius: 1000%;
  border-bottom-right-radius: 1000%;
  background-color: black;
}

#title-content-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Logo-1 Streamers-Title Logo-2"
      "Logo-1 Streamers-Subtitle Logo-2";

    width: 60%;
    margin: auto auto;
    text-align: center;
  }
  
.Logo-2 { grid-area: Logo-2; }
  
.Logo-1 { grid-area: Logo-1; }
  
.Streamers-Title { 
    grid-area: Streamers-Title;
    font-size: 3vw;
    margin: 0;
    align-self: center;
}

.Streamers-Title h1 {
  margin: 0;
  color: white;
}
  
.Streamers-Subtitle { 
    grid-area: Streamers-Subtitle;
}

.Streamers-Subtitle p {
  font-family: "Omnes Medium";
  font-size: 1.35vw;
  margin: 0;
  color: white;
}

@media screen and (max-width: 1100px) {
  #title-content-container {
    width: 90%;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: "Logo-1 Streamers-Title Logo-2";
  }

  .Streamers-Subtitle {
    display: none;
  }

  .Streamers-Title h1 {
    font-size: 10vw;
  }

  #curve {
    height: 2vh;
  }
}