#intro-box {
    margin: auto auto;
    background-color: white;
    width: 75%;
    border-radius: 0.5vw;

    padding-left:3vw;
    padding-right:3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;

    text-align: center;
}

#intro-box p {
    font-family: "Omnes Medium";
    font-size: 3vh;
    font-weight: 1000;
    
}

body {
    background-image: url("images/Collage.jpg");
    background-size: cover;
}

#title {
    display: flex;
    width: 50vw;
    background: #000;
    margin: auto auto 5vh;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;

    /* Initial off screen position */
    transform: translateY(-100%);

    /* Animation Properties */
    animation: fly-in 1s ease-in-out;
    animation-fill-mode: forwards;
    z-index: -1;

}

@keyframes fly-in {
    0% {
    }
    100% {
      transform: translateY(0);
    }
  }

#title-text {
    color:white;
    margin: auto auto;
    text-align: center;
    font-size: 3vw;
}